audioread==3.0.1
Flask==3.0.3
grpcio==1.65.0
h5py==3.11.0
joblib==1.4.2
keras==3.7.0
lazy_loader==0.4
libclang==18.1.1
librosa==0.10.2.post1
llvmlite==0.43.0
numba==0.60.0
numpy==1.26.4
pyzmq==26.0.3
scikit-learn==1.5.2
scipy==1.14.1
soundfile==0.12.1
sympy==1.13.1
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
tensorflow-io-gcs-filesystem==0.31.0
webencodings==0.5.1
Werkzeug==3.0.3

